extends layout

block content
  h1 #{title} // El título se pasa desde el controlador, ej., "Inicio - Sistema de Información Hospitalaria"
  p Bienvenido al Sistema de Información Hospitalaria (SIH).
  p
    a(href="/pacientes/nuevo") Registrar Nuevo Paciente
